In [ ]:
#lists

In [3]:
l=[1,2,3,"barnak"] list #list

In [5]:
print(l)

[1, 2, 3, 'barnak']

In [13]:
l.append(12) #add element

In [14]:
print(l)

[1, 2, 3, 'barnak', 12]

In [ ]:
#tuples

In [9]:
t=(10,12.3,"bruno,65")

In [11]:
type(t) #append and remove not woriking. Touple is read only, immutable, duplicate allowed

tuple

In [12]:
t[0]=1009 #not allowed

TypeError: 'tuple' object does not support item assignment

In [16]:
l[2]="barnakk"

In [17]:
print(l)

[1, 2, 'barnakk', 'barnak', 12]

In [18]:
#range: represents a sequence of numbers

In [19]:
range(5) #it will generate numbers starting from 0 to 5-1

range(0, 5)

In [21]:
for element in range(5):print(element)

0
1
2
3
4

In [23]:
#format 2
#range(start,end)
range(5,10) #sequence of numbers from 5 to 10-1

range(5, 10)

In [24]:
for element in range(5,10):print(element)

5
6
7
8
9

In [25]:
#format3
#format(start,end,step)
#range(2,20,2) =>2,4,6,8,10,12,14,16,18 2 to 19 with a step size of 2
range(2,20,2)

range(2, 20, 2)

In [26]:
for element in range(2,20,2):print(element)

2
4
6
8
10
12
14
16
18

In [27]:
r=range(5,10)

In [28]:
type(r)

range

In [29]:
r[0]

5

In [30]:
r[1]

6

In [31]:
r[2]

7

In [32]:
#we can create a list of all elements in range()
#int(),float(),str(), similarly list()
l=list(range(2,10))

In [33]:
l #it create a list so it displays list

[2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
t=tuple(range(2,10))

In [36]:
s=list("barnak")

In [37]:
s

['b', 'a', 'r', 'n', 'a', 'k']

In [38]:
s=tuple("pankaj")

In [39]:
s

('p', 'a', 'n', 'k', 'a', 'j')

In [40]:
#Set: No duplicate elements, Order doesnt matter, Heterogenous elements, No concept of index, No Slicing, Mutable

In [41]:
s={1,2,3,4,"Barnak","Ghosh"}

In [42]:
s[0] #no concept of indexing

TypeError: 'set' object is not subscriptable

In [43]:
s.add(5) #to add an element

In [44]:
s

{1, 2, 3, 4, 5, 'Barnak', 'Ghosh'}

In [45]:
s.add(5) #no effect as 5 is already present
s

{1, 2, 3, 4, 5, 'Barnak', 'Ghosh'}

In [46]:
s.remove(5) #to remove an elemnt
s

{1, 2, 3, 4, 'Barnak', 'Ghosh'}

In [47]:
a=set("Barnak") #"Barnak" is a group of elemnts in which a is duplicated

In [48]:
a

{'B', 'a', 'k', 'n', 'r'}

In [50]:
a={1,2,3,4}
a.remove(5)

KeyError: 5

In [51]:
#frozenset => same as set but it is immutable
#no add()
#no remove()
s={1,2,3,4}
x=frozenset(s)

In [52]:
x

frozenset({1, 2, 3, 4})

In [53]:
type(x)

frozenset

In [54]:
x.add(12) #as it is a frozen set

AttributeError: 'frozenset' object has no attribute 'add'

In [56]:
#Dictionary => key value pair, duplicate keys are not allowed but values can be duplicated

In [57]:
d={1:'Barnak', 2: 'Nashpati', 3:'rahul'}
d

{1: 'Barnak', 2: 'Nashpati', 3: 'rahul'}

In [58]:
d[1]

'Barnak'

In [59]:
d[1]='Arun' #we are trying ==> {1:Arun}
d

{1: 'Arun', 2: 'Nashpati', 3: 'rahul'}

In [60]:
#if we try to add/insert an entry with existence key then old value will be replaced with the new valuw

In [61]:
d={}

In [62]:
type(d)

dict

In [63]:
d[5]='Parvati'
d

{5: 'Parvati'}

In [64]:
d[6]='Neeraj'
d

{5: 'Parvati', 6: 'Neeraj'}

In [65]:
#mutable but order is not preserved

In [66]:
#None type ==> Functions

In [67]:
s=set() #Empty_Set
s

set()

In [68]:
print(s)

set()