In [5]:
#Control Flow Statement

In [7]:
#selection/conditional statement

In [11]:
a=int(input("Enter a number: "))
if a%2==0:
    print("Barnak")

Enter a number: 4
Barnak

In [16]:
a=int(input("Enter a number: "))
if a%2==0: 
    print("Even")
else : 
    print("Odd")

Enter a number: 5
Odd

In [21]:
Year=int(input("enter your year as a nymber: "))
if Year==1: 
    print("Enjoy Hard")
elif Year==2: 
    print("Think little")
elif Year==3: 
    print("No time to think work")
elif Year==4: 
    print("Ab kya kare")
else: 
    print("Ram Bharose")

enter your year as a nymber: 7
Ram Bharose

In [22]:
Year=int(input("enter your year as a nymber: "))
if Year==1: 
    print("Enjoy Hard")
elif Year==2: 
    print("Think little")
elif Year==3: 
    print("No time to think work")
elif Year==4: 
    print("Ab kya kare")
else: 
    print("Ram Bharose")

enter your year as a nymber: 4
Ab kya kare

In [23]:
#else is always optional: No nessessary 
#if is only fine: Valid

In [33]:
a=int(input("enter the first number: "))
b=int(input("enter the second number: "))
c=int(input("enter the third number: "))
if a>b and a>c:
    print("The largest number is: ",a,b,c, "is", a)
else:
    if b>c:
        print("The largest number is: ",a,b,c, "is", b)
    else: 
        print("The largest number is: ",a,b,c, "is", c)

enter the first number: 334
enter the second number: 2323
enter the third number: 144
The largest number is:  334 2323 144 is 2323

In [34]:
#Iterative Statements: To Repeat some codes multiple times
#Two type==> for loop, while loop

In [35]:
#for loop
#if we want to execute some codes for every element in some sequence. sequence==> list,tuple,set,string etc

In [36]:
for x in "barnak":
    print(x)

b
a
r
n
a
k

In [47]:
i=0
for x in "barnak":
    print("The element at index:",i,"is",x)
    i=i+1

The element at index: 0 is b
The element at index: 1 is a
The element at index: 2 is r
The element at index: 3 is n
The element at index: 4 is a
The element at index: 5 is k

In [48]:
for i in range(5):
    print("barnak")

barnak
barnak
barnak
barnak
barnak

In [49]:
for i in range(1,6): #start => end=>-1
    print("barnak")

barnak
barnak
barnak
barnak
barnak

In [50]:
for i in range(1,101):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [52]:
for i in  range(5,1):
    print(i)

In [53]:
for i in  range(5,1,-1):
    print(i)

5
4
3
2

In [55]:
#first product of first 5 natural no. using loop (1,2,3,4,5)

In [67]:
prod=1
for i in range(1,11):
    prod=prod * i
print(prod)

3628800

In [68]:
n=int(input("enter any number"))
prod=1
for i in range(1,n+1):
    prod=prod * i
print(prod)

enter any number5
120

In [70]:
#sum of list of integer.

In [73]:
l=[2,3,4,6,9]
sum1=0
for x in l:
    sum1=sum1+x
print("Th sum of all elements is : ", sum1)

Th sum of all elements is :  24

In [74]:
l=eval(input("enter a lst: "))
sum1=0
for x in l:
    sum1=sum1+x
print(sum1)

enter a lst: [2,3,4,5,6]
20

In [75]:
a=eval(input("enter"))
print(type(a))

enter{1,2,3,4}
<class 'set'>

In [76]:
#hw
#prime number 
#sum of all factors of a number