In [1]:
#Tuple - ordered indexing, slicing, heterogen, duplicate allowed, immutable, parnthesis is optional

In [2]:
a=1,2 #parenthesis is optional
#as we are assigning multiple value to a variable by default
print(type(a))

<class 'tuple'>

In [3]:
b=()
print(type(b))

<class 'tuple'>

In [4]:
a=(10 + 20)*30
print(a)
b=(10+20)*(30)
print(b)

900
900

In [5]:
#parenthesis is expression
#parenthesis value ke sath ==> (30) is allowed
# (30)==> value
t=(10)
print(type(t))

<class 'int'>

In [6]:
#with single element u cant create a tuple link above
t1=(1,) #now it is tuple
print(type(t1))

<class 'tuple'>

In [10]:
#t=() represent empty tuple
t=()
s=(1,)
a=(1,2,3,4)
b=tuple([1,2,3,4])
c=tuple("pankanj")

print(t,s,a,b,c)

() (1,) (1, 2, 3, 4) (1, 2, 3, 4) ('p', 'a', 'n', 'k', 'a', 'n', 'j')

In [11]:
#just like list and string ==> + works as concat and * works repetation operator

In [13]:
a=(1,2,3)
b=a*3
print(b)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
a=(1,2,3)
b=(4,5,6)
c= a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [17]:
#indexing
a=(1,2,3,4,"Barnak")
a[0]

1

In [18]:
#slicing
a=(1,2,3,4,"Barnak")
a[2:] #index to end of the tuple

(3, 4, 'Barnak')

In [20]:
#immutable
a=(1,2,3,4)
a[0]=9 #not support this

TypeError: 'tuple' object does not support item assignment

In [21]:
a=(1,2,3,4)+[1,2,3,4]

TypeError: can only concatenate tuple (not "list") to tuple

In [22]:
a=[1,2,3,4]+(1,2,3,4)

TypeError: can only concatenate list (not "tuple") to list

In [24]:
#important function on tuple
#add remove inset ==> no such method , becoz immutable
#len ==> list, string,tuple

In [26]:
a=(1,2,3,4,5)
print(len(a))

5

In [27]:
b=((1,2),"barnak") #2 elements
#1st element is tuple 2nd elemennt is a string
print(len(b))

2

In [28]:
b[0]

(1, 2)

In [29]:
b[1]

'barnak'

In [30]:
#count() ==> count the number of occurance of an elemet in tuple
a=(1,2,3,4,2,2,23,4,3,3,3,3)
print(a.count(3))

5

In [32]:
print(a.count(33)) #never give error==> count

0

In [33]:
a=(1,2,3,4)
b=list(a)
print(b)

[1, 2, 3, 4]

In [34]:
print(type(b)) #we can convert tuple into list

<class 'list'>

In [35]:
a=[1,2,3,4]
b=tuple(a)
print(b)

(1, 2, 3, 4)

In [37]:
print(type(b)) #we can convert list into tuple

<class 'tuple'>

In [42]:
#sort finction (l.sort) #string, tuple, list
l=[1,2,3,4,53,2,3]
l.sort()
print(l)

[1, 2, 2, 3, 3, 4, 53]

In [44]:
#sorted function
a=(12,33,11,45,1)
b=sorted(a)
print(b) #with sorted data a list is created
print(a)#is same as it is immutable

[1, 11, 12, 33, 45]
(12, 33, 11, 45, 1)

In [45]:
a=sorted("barnak")
print(a)

['a', 'a', 'b', 'k', 'n', 'r']

In [46]:
a=(1,2,3,4,"barnak") #we cant apply sorted bcz elements are not same type

In [47]:
sorted(a)

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
a=(12,2,3,-22,1,3)
b=sorted(a)
print(b) #by default increasing order

[-22, 1, 2, 3, 3, 12]

In [51]:
a=(12,2,3,-22,1,3)
b=sorted(a,reverse=True)
print(b)

[12, 3, 3, 2, 1, -22]

In [52]:
#we can also apply min() and max()===> tuple,list
max(a)

12

In [53]:
min(a)

-22

In [54]:
#packing and unpacking
a=10
b="barnak"
c=20
d=12.34
t=a,b,c,d #a,b,c,d are packed into a tuple
print(t)

(10, 'barnak', 20, 12.34)

In [55]:
#unpaacking
e,f,g,h=t 
print(e,f,g,h)

10 barnak 20 12.34

In [56]:
a,b=t #error RHS is a paxk of 4 elements at the the tipe of unpacking ==> problem

ValueError: too many values to unpack (expected 2)

In [57]:
#comprehension concept doest not works for tuple

In [58]:
#Sets
# ==> duplicates not allowed, unordered, no indexing concept, no slicing, no string concept,
#==> heterogen, mutable, unorder but we can sort

In [59]:
#empty set
s=set()
print(type(set))

<class 'type'>

In [60]:
a={1,2,3,3}
print(type(a))

<class 'set'>

In [61]:
s=set("barnak")
print(s)

{'k', 'a', 'n', 'b', 'r'}

In [62]:
s=set([1,2,3,1,2,3,4])
s

{1, 2, 3, 4}

In [63]:
a=set(range(1,10))
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
#functions
#set is dynamic ===> add, remove an elemet

In [65]:
a=set()
a.add(1)
a

{1}

In [66]:
a.add(2)

In [67]:
a

{1, 2}

In [68]:
a.add(1) #no duplicate add but no error
a

{1, 2}

In [69]:
a.add([1,2,3]) #add only for individul elements

TypeError: unhashable type: 'list'

In [70]:
a.add("barnak")

In [71]:
a

{1, 2, 'barnak'}

In [72]:
a.add((1,2,3,4))

In [73]:
a

{(1, 2, 3, 4), 1, 2, 'barnak'}

In [74]:
#update() ==> to add more than 1 element
a={1,2,3,4,"barnak"}
a

{1, 2, 3, 4, 'barnak'}

In [75]:
a.update([10,20,30])
a

{1, 10, 2, 20, 3, 30, 4, 'barnak'}

In [76]:
a.update(12.33)

TypeError: 'float' object is not iterable

In [77]:
a={1,2,3,4}
b=a.copy()
b

{1, 2, 3, 4}

In [78]:
#set ==> unordered
#pop()===> remove and return any elements i.e. randomly
b.pop()
b

{2, 3, 4}

In [79]:
a.remove(4)
a

{1, 2, 3}

In [80]:
#remove ===> not retuen anything

In [81]:
s=set()
s.pop()

KeyError: 'pop from an empty set'

In [82]:
s={1,2,3}
s.remove(12)

KeyError: 12

In [83]:
#discard
s={1,2,334,13}
s.discard(100)

In [84]:
s.clear()
s

set()

In [85]:
#union, intersection,

In [87]:
a={1,2,3}
b={4,5,6}
print(a.union(b)) #no set is updated but result is a union b
print(a)

{1, 2, 3, 4, 5, 6}
{1, 2, 3}

In [89]:
s=a.union(b)
t=b.union(a)
print(s,t)

{1, 2, 3, 4, 5, 6} {1, 2, 3, 4, 5, 6}

In [91]:
a|b

{1, 2, 3, 4, 5, 6}

In [92]:
#intersection
a.intersection(b)

set()

In [93]:
a&b

set()

In [95]:
#set difference 
a={1,2,3}
b={1,23,45}
a.difference(b)

{2, 3}

In [96]:
a-b

{2, 3}

In [99]:
a^b

{2, 3, 23, 45}

In [100]:
a.symmetric_difference(b)

{2, 3, 23, 45}

In [101]:
#no indexing and no slicing 
#comprehension works
s=(2*i for i in range(1,10))
print(s)

<generator object <genexpr> at 0x000001725C430430>

In [102]:
s