In [1]:
#Dictionary ===> a collection of key value pair. Key should be unique.

In [9]:
#empty dict
d={}
d

{}

In [10]:
d={1:'barnak', 2:'amit'}
print(d)

{1: 'barnak', 2: 'amit'}

In [11]:
d={"barnak":3}
d
print(type(d))

<class 'dict'>

In [12]:
d={}
print(type(d))

<class 'dict'>

In [13]:
d={1:'barnak', 2:'amit',3:'anamike'}
type(d)

dict

In [14]:
d

{1: 'barnak', 2: 'amit', 3: 'anamike'}

In [15]:
print(d)

{1: 'barnak', 2: 'amit', 3: 'anamike'}

In [17]:
(1,"barnak") #represent pair of values
(2,"barnllk") #represent pair of values
(3,"Neeraj") #pair of values
l=[(1,"barnak"), (2,"barnllk"), (3,"Neeraj")]
d=dict(l)
d

{1: 'barnak', 2: 'barnllk', 3: 'Neeraj'}

In [18]:
#creating a dictionary by providing list of keys
d=dict.fromkeys(["barnak",12,30.5]) #i am providing 3 keys
#where are values of these keys ====>
d

{'barnak': None, 12: None, 30.5: None}

In [19]:
d=dict.fromkeys(["barnak",12,30.5], 0 ) #we are providing value defualt value 0
d

{'barnak': 0, 12: 0, 30.5: 0}

In [20]:
d={1:2,12.3:4,"barnak":[1,2,3,4,"neereaj"],"neeraj":{1:34}}

In [21]:
d

{1: 2, 12.3: 4, 'barnak': [1, 2, 3, 4, 'neereaj'], 'neeraj': {1: 34}}

In [29]:
l=[(1,"barnak"), (2,"barnllk"), (3,"barnakww")]
d=dict(l)

TypeError: 'dict' object is not callable

In [30]:
#accessing elements
d={1:2,12.3:4,"barnak":[1,2,3,4,"neereaj"],"neeraj":{1:34}}
d[1] #retrieve value correspoding to key 1

2

In [31]:
d[12.3]

4

In [32]:
d["barnak"]

[1, 2, 3, 4, 'neereaj']

In [33]:
d[100]

KeyError: 100

In [34]:
#another way to access elements
d

{1: 2, 12.3: 4, 'barnak': [1, 2, 3, 4, 'neereaj'], 'neeraj': {1: 34}}

In [35]:
d.get(1)

2

In [36]:
d.get("barnak")

[1, 2, 3, 4, 'neereaj']

In [37]:
d.get(100) #no errors but it returns None

In [38]:
print(d.get(100))

None

In [39]:
print(d.get(100,0)) #if 100 as a key is present it will return thr value for 100 
#if 100 as a key is not present it will return o

0

In [40]:
d

{1: 2, 12.3: 4, 'barnak': [1, 2, 3, 4, 'neereaj'], 'neeraj': {1: 34}}

In [41]:
d.keys()

dict_keys([1, 12.3, 'barnak', 'neeraj'])

In [42]:
type(d.keys())

dict_keys

In [43]:
d.values()

dict_values([2, 4, [1, 2, 3, 4, 'neereaj'], {1: 34}])

In [44]:
d={1:'pankaj', 2:'pankaj',3:'amit'}
d.values()

dict_values(['pankaj', 'pankaj', 'amit'])

In [46]:
d.items()

dict_items([(1, 'pankaj'), (2, 'pankaj'), (3, 'amit')])

In [47]:
#how to iterate on dict
for x in d: #x==>iterating on keys
    print(x)

1
2
3

In [48]:
for x in d: #x==>iterating on keys
    print(d[x]) #what is d[x]==>values

pankaj
pankaj
amit

In [49]:
for x in d: #x==>iterating on keys
    print(x,d[x]) #what is d[x]==>values

1 pankaj
2 pankaj
3 amit

In [53]:
a{}
a

SyntaxError: invalid syntax (846240204.py, line 1)

In [64]:
a[1]={'barnak'}
a

{1: {'barnak'}, 2: 'barnak', 3: 'neeraj', 4: 34.4}

In [62]:
a={1:2,2:"barnak",3:"neeraj",4:34.4}
b={1:"arun",3:89,5:99}
b.update(a)
b

{1: 2, 3: 'neeraj', 5: 99, 2: 'barnak', 4: 34.4}

In [63]:
#find the frequeny in a string

In [66]:
s=input("enter a string")
wordskilist=s.split()
d={}
for word in wordskilist : 
    if word in d:
        d[word]=d[word]+1
    else:
        d[word]=1
print(d)

enter a stringbarnak is barnak
{'barnak': 2, 'is': 1}

In [67]:
s=input("enter a string")
wordskilist=s.split()
d={}
for word in wordskilist : 
    d[word]=d.get(word,0) + 1
print(d)

enter a stringbarnak is barnak
{'barnak': 2, 'is': 1}

In [68]:
#duplicates key not allowed
#it is not mendatory all keys are of same type
#it is not mendatory all values are of same order
#insertaion order is not preserved 
#mutable
#dynamic===> add, remove
#indexing and slicing concept is not there in a case of dict

In [72]:
d={1:2,3:4}
print(1 in d)

True

In [73]:
d={1:"amit", 2:"barnak"}
del d[1]
d

{2: 'barnak'}

In [74]:
del d[100]

KeyError: 100

In [75]:
d={1:"amit", 2:"barnak", 3:45}
d

{1: 'amit', 2: 'barnak', 3: 45}

In [76]:
del a

In [77]:
a

NameError: name 'a' is not defined

In [79]:
a={1:"amit", 2:"barnak", 3:45}
a.clear()

In [80]:
a

{}

In [81]:
#len()
#get()
#clear
#dict
#pop() ====> specific element remove
a={1:"amit", 2:"barnak", 3:45}
a.pop(1) #remove the corresponding pair associated with key as 1
#and it will return value 'amit'

'amit'

In [83]:
a={1:"amit", 2:"barnak", 3:45}
a.popitem() #randomly remove any item

(3, 45)

In [84]:
a

{1: 'amit', 2: 'barnak'}

In [85]:
a={1:"amit", 2:"barnak", 3:45}
a.popitem()

(3, 45)

In [86]:
#y.update(x) ==> all the items(key,value) pairs of dict x will be added to dict y

In [87]:
#print frequency of each charcter in a string
#vowels frequency in a string

In [88]:
d=3
print(++++d)

3

In [89]:
d=3
print(d++)

SyntaxError: invalid syntax (1027087953.py, line 2)

In [95]:
#charter in a string
s=input("enter a string")
l=list(s)
d={}
for ele in l:
    d[ele]= d.get(ele,0)+1
print(d)

enter a string
{}

In [94]:
#vowels in a string
s=input("enter a string")
l=list(s)
d={}
for ele in l:
    if ele in 'aieouAEIOU':
        d[ele]= d.get(ele,0)+1 
print(d)

enter a stringbarnak
{'a': 2}